window {
    background-color: #B4ADEA;
    background-color: #AAFFE5;
    background: #9f9a8c;
    background: #cfcfcf;
    box-shadow: 0 0 25px rgba(0,0,0,.5)
}

tab {
    background: #D2D7DF;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background: #9f9a8c;
    background: #cfcfcf;
    margin: 2px;
    box-shadow: 0 0 1px black
}

box {
    background: #9f9a8c;
    background: #cfcfcf;
}

grid {
    background: #9f9a8c;
    background: #cfcfcf;
}

tab:active {
    background-color: black;
}

list {
    background-color: #B4ADEA;
    background-color: #AAFFE5;
    background: #9f9a8c;
    background: #cfcfcf;
    box-shadow: 0 0 25px rgba(0,0,0,.5)
}

button {
    color: black;/* changes color of vol+/- buttons*/
    background: #FFED65;
    background: #8A897C;
    background: #D2D7DF;
    background: #89867c;
    background: #909090;
    border-radius: 5px; /* higher value gives more rounded buttons*/
    box-shadow: 0 0 1px black /*rgba(0,0,0,.5)*/
}

